<include href="header.htm" /> 

<div class="container">
	<div class="row">
		<div class="col-sm-6">
			<include href="server-infos.htm" />
		</div>
		<div class="col-sm-6">
			<div class="panel panel-info">
				<div class="panel-heading"><h3 class="panel-title">{{ @LANG.Help }}</h3></div>
				<div class="panel-body">
					<dl>
						<dt>{{ @LANG.SupportedSitesTitle }}</dt>
						<dd>{{ @LANG.SupportedSitesInfo, '<a href="http://rg3.github.io/youtube-dl/supportedsites.html" target="_blank">', '</a>'  | format }}</dd>
						<dt>{{ @LANG.SupportedLangTitle }}</dt>
						<dd>{{ @LANG.SupportedLangInfo }}</dd>
					</dl>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-6">
			<div class="panel panel-info">
				<div class="panel-heading"><h3 class="panel-title">{{ @LANG.About }}</h3></div>
				<div class="panel-body">
					<dl class="dl-horizontal">
						<dt>{{ @LANG.Version }}</dt>
						<dd>1.0</dd>
						<dt>{{ @LANG.ProjectPage }}</dt>
						<dd><a href="https://github.com/Kallys/MediaDownloader" target="_blank">MediaDownloader</a></dd>
						<dt>{{ @LANG.License }}</dt>
						<dd><a href="https://www.gnu.org/licenses/gpl-3.0.html" target="_blank">GPLv3</a></dd>
						<dt>{{ @LANG.Maintainer }}</dt>
						<dd><a href="https://github.com/Kallys" target="_blank">Kallys</a></dd>
					</dl>
				</div>
			</div>
		</div>
		<div class="col-sm-6">
			<div class="panel panel-info">
				<div class="panel-heading"><h3 class="panel-title">{{ @LANG.Credits }}</h3></div>
				<div class="panel-body">
					<dl class="dl-horizontal">
						<dt>{{ @LANG.PHPFramework }}</dt>
						<dd><a href="https://fatfreeframework.com/" target="_blank">Fat-Free</a> (GPLv3)</dd>
						<dt>{{ @LANG.PHPLibraries }}</dt>
						<dd><a href="https://github.com/respect/validation" target="_blank">Respect/Validation</a> (BSD)</dd>
						<dd><a href="https://github.com/nategood/commando" target="_blank">nategood/commando</a> (MIT)</dd>
						<dd><a href="https://github.com/maximebf/php-debugbar" target="_blank">maximebf/debugbar</a> (MIT)</dd>
						<dt>{{ @LANG.FrontEnd }}</dt>
						<dd><a href="https://getbootstrap.com" target="_blank">Bootstrap</a> (MIT)</dd>
						<dd><a href="https://bootswatch.com/" target="_blank">Bootswatch</a> (MIT)</dd>
						<dt>{{ @LANG.Downloader }}</dt>
						<dd><a href="https://rg3.github.io/youtube-dl/" target="_blank">youtube-dl</a> (Public domain)</dd>
					</dl>
				</div>
			</div>
		</div>
	</div>
</div>

<include href="footer.htm" />