<include href="header.htm" /> 

<div class="container">
	<div class="row">
		<div class="col-sm-6">
			<include href="server-infos.htm" />
		</div>
		<div class="col-sm-6">
			<div class="panel panel-info">
				<div class="panel-heading"><h3 class="panel-title">Help</h3></div>
				<div class="panel-body">
					<dl>
						<dt>With which sites does it work?</dt>
						<dd><a href="http://rg3.github.io/youtube-dl/supportedsites.html" target="_blank">Here's</a> a list of the supported sites.</dd>
						<dt>Which languages are supported?</dt>
						<dd>Currently, only english is supported.</dd>
					</dl>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-6">
			<div class="panel panel-info">
				<div class="panel-heading"><h3 class="panel-title">About</h3></div>
				<div class="panel-body">
					<dl class="dl-horizontal">
						<dt>Version</dt>
						<dd>1.0</dd>
						<dt>Project page</dt>
						<dd><a href="https://github.com/Kallys/MediaDownloader" target="_blank">MediaDownloader</a></dd>
						<dt>License</dt>
						<dd><a href="https://www.gnu.org/licenses/gpl-3.0.html" target="_blank">GPLv3</a></dd>
						<dt>Maintainer</dt>
						<dd><a href="https://github.com/Kallys" target="_blank">Kallys</a></dd>
					</dl>
				</div>
			</div>
		</div>
		<div class="col-sm-6">
			<div class="panel panel-info">
				<div class="panel-heading"><h3 class="panel-title">Credits</h3></div>
				<div class="panel-body">
					<dl class="dl-horizontal">
						<dt>PHP Framework</dt>
						<dd><a href="https://fatfreeframework.com/" target="_blank">Fat-Free</a> (GPLv3)</dd>
						<dt>Front end</dt>
						<dd><a href="https://getbootstrap.com" target="_blank">Bootstrap</a> (MIT)</dd>
						<dd><a href="https://bootswatch.com/" target="_blank">Bootswatch</a> (MIT)</dd>
						<dt>Downloader</dt>
						<dd><a href="https://rg3.github.io/youtube-dl/" target="_blank">youtube-dl</a> (Public domain)</dd>
					</dl>
				</div>
			</div>
		</div>
	</div>
</div>

<include href="footer.htm" />