<include href="header.htm" /> 

<div class="container">
	<div class="panel panel-info">
		<div class="panel-heading"><h3 class="panel-title">Download request summary</h3></div>
		<div class="panel-body">
			<table class="table table-striped table-hover">
				<thead>
					<tr>
						<th>Thumbnail</th>
						<th>URL</th>
						<th>Status</th>
					</tr>
				</thead>
				<tbody>
					<repeat group="{{@View.Result}}" value="{{@result}}">
						<tr class="{{ @result.status }}">
							<td>
								<check if="{{ @result.no_info }}">
									<true>
										<div style="width:80px; height:50px;" class="text-center"><span class="glyphicon glyphicon-camera"></span> No image</div>
									</true>
									<false>
										<img width="80" height="50" src="{{@result.media->thumbnail}}" alt="{{@View.media->extractor_key}}" />
									</false>
								</check>
							</td>
							<td>{{ @result.url }}</td>
							<td>{{ is_array(@result.message) ? implode(PHP_EOL, @result.message) : @result.message }}</td>
						</tr>
					</repeat>
				</tbody>
			</table>
		</div>
	</div>
	<div class="row">
		<div class="pull-left">
			<a href="{{@URL_BASE}}{{ 'links' | alias }}" class="btn btn-default">&lt; Add new links</a>
		</div>
		<div class="pull-right">
			<a href="{{@URL_BASE}}{{ 'downloads', ['filter' => \App\Controllers\Downloads::Filter_all] | alias }}" class="btn btn-default">Go to media list &gt;</a>
		</div>
	</div>
</div>

<include href="footer.htm" />