<include href="header.htm" /> 

<div class="container">
	<div class="panel panel-primary">
		<div class="panel-heading"><h3 class="panel-title">Add links</h3></div>
		<div class="panel-body">
			<form id="download-form" method="post">
				<div class="form-group">
					<div class="col-md-10">
						<fieldset>
							<legend>Video links</legend>
							<textarea class="form-control" id="url" name="urls" placeholder="One URL per line" rows="6">{{@POST.urls}}</textarea>
						</fieldset>
					</div>
					<div class="col-md-2">
						<fieldset>
							<legend>Options</legend>
							
							<div class="form-group">
								<label for="stream" class="control-label">Stream:</label>
								<select name="stream" class="form-control">
									<repeat group="{{@LANG.FormatStream}}" key="{{@value}}" value="{{@name}}">
										<option value="{{@value}}" {{ \App\Models\Config::Get('default_stream') == @value ? 'selected' : '' }}>{{@name}}</option>
									</repeat>
								</select>
							</div>
							
							<div class="form-group">
								<label for="quality" class="control-label">Quality:</label>
								<select name="quality" class="form-control">
									<repeat group="{{@LANG.FormatQuality}}" key="{{@value}}" value="{{@name}}">
										<option value="{{@value}}" {{ \App\Models\Config::Get('default_quality') == @value ? 'selected' : '' }}>{{@name}}</option>
									</repeat>
								</select>
							</div>
						</fieldset>
					</div>
				</div>
				<div class="form-group">
					<div class="col-md-10">
						<label for="download-path" class="control-label">Download Path</label>
						<input type="text" class="form-control" id="download-path" name="download_path" value="{{@POST.download_path}}" placeholder="Download Path">
					</div>
				</div>
				<div class="col-md-12 text-center">
					<button type="submit" class="btn btn-primary">Download</button>
				</div>
			</form>
		</div>
	</div>
	<br>
	<br>
	<div class="row">
		<div class="col-sm-6">
			<include href="server-infos.htm" />
		</div>
		<div class="col-sm-6">
			<div class="panel panel-info">
				<div class="panel-heading"><h3 class="panel-title">Help</h3></div>
				<div class="panel-body">
					<dl>
						<dt>How does it work ?</dt>
						<dd>
							<ol>
								<li>Paste your video link(s) in the text area</li>
								<li>Adjust options</li>
								<li>Click on then <button class="btn btn-xs btn-primary">Download</button> button</li>
							</ol>
						</dd>
						<dt>How can I download a video directly to my computer?</dt>
						<dd>
							<ol>
								<li>Paste your video link(s) in the text area</li>
								<li>Set "quality" option to "Manual"</li>
								<li>Click on the <button class="btn btn-xs btn-primary">Download</button> button</li>
								<li>Click on the <button class="btn btn-xs btn-default"><span class="glyphicon glyphicon-download-alt" aria-hidden="true"></span></button> button on the wanted format line</li>
							</ol>
						</dd>
					</dl>
				</div>
			</div>
		</div>
	</div>
</div>

<include href="footer.htm" />
