<div class="panel panel-info">
	<div class="panel-heading"><h3 class="panel-title">{{ @LANG.ServerInfos }}</h3></div>
	<div class="panel-body">
		<dl class="dl-horizontal">
			<dt>{{ @LANG.Downloading }}</dt>
			<dd>{{ @LANG.Downloads, \App\Models\Downloads::instance()->CountByState(\App\Models\Objects\Download::State_Downloading) | format }}</dd>
			<dt>{{ @LANG.MaxSimultaneous}} </dt>
			<dd>{{ @LANG.DownloadsLimit, \App\Models\Config::Get('max_simultaneous') | format }}</dd>
			<dt>{{ @LANG.MaxConcurrents }}</dt>
			<dd>{{ @LANG.DownloadsLimit, \App\Models\Config::Get('max_concurrents') | format }}</dd>
			<dt>{{ @LANG.FreeSpace }}<dt>
			<dd>{{ \App\Lib\Utils::GetOutputFreeSpace() }}</dd>
		</dl>
	</div>
</div>